* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
}
.section_1 {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 100px 50px;
  gap: 100px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.header_logo {
  flex: 1;
}
.header_links {
  display: flex;
  gap: 20px;
}
ul {
  list-style: none;
}
.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-secondary,
.header_links {
  font-size: 18px;
  color: #e5e7eb;
}
.header_logo {
  font-size: 24px;
  color: #f9faf8;
}
button {
  background-color: #3882f6;
}
.subsection {
  display: flex;
  flex-direction: column;
  width: 500px;
}
button {
  width: fit-content;
  border-radius: 10px;
  color: #e5e7eb;
  font-weight: bold;
  padding: 10px 25px 10px 25px;
  border: none;
}

.main .image {
  width: 500px;
  height: 300px;
  background-color: #6d747d;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  border-radius: 10px;
}
.section_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 20px;
}
.information {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.card .image {
  width: 150px;
  height: 150px;
  border: 5px solid dodgerblue;
  border-radius: 10px;
}
.section_3 {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px 100px 200px;
}
.section_3 .subsection {
  flex: 1;
}
.quote {
  font-size: 36px;
  font-weight: light;
  color: #1f2937;
  flex-shrink: 0;
  width: auto;
}
.name {
  font-weight: bold;
  margin-left: auto;
}
.section_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
}
.section_4 .card {
  display: flex;
  width: auto;
  flex-direction: row;
  padding: 40px 100px 40px 100px;
  background-color: #3882f6;
  align-items: center;
  justify-content: center;
  gap: 100px;
  border-radius: 10px;
}
.card button {
  border-radius: 10px;
  border: 2px solid #e5e7eb;
  flex-shrink: 0;
}
.left-align {
  flex-shrink: 0;
}
.card-text {
  color: #e5e7eb;
  font-weight: bold;
}
.para {
  color: #e5e7eb;
}
footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
